[submodule "banker"]
	path = om-banker
	url = git@github.com:iesorokin/om-banker.git
[submodule "config-server"]
	path = om-config-server
	url = git@github.com:iesorokin/om-config-server.git
[submodule "configs"]
	path = om-configs
	url = git@github.com:iesorokin/om-configs.git
[submodule "courier"]
	path = om-courier
	url = git@github.com:iesorokin/om-courier.git
[submodule "dispatcher"]
	path = om-dispatcher
	url = git@github.com:iesorokin/om-dispatcher.git
[submodule "gateway"]
	path = om-gateway
	url = git@github.com:iesorokin/om-gateway.git
[submodule "orchestrator"]
	path = om-orchestrator
	url = git@github.com:iesorokin/om-orchestrator.git
[submodule "parent"]
	path = om-parent
	url = git@github.com:iesorokin/om-parent.git
[submodule "picker"]
	path = om-picker
	url = git@github.com:iesorokin/om-picker.git